/*⚝。•‧-GENERAL-‧•。⚝*/
body {
    font-family: 'Karla', sans-serif;
    margin: 0em;
    padding: 0em;
}

/*⚝。•‧-NAV BAR-‧•。⚝*/
nav {
    width: 100%;
    height: 6.25em;
    background-color: #68317F;
    position: fixed;
    top: 0px;
    -webkit-box-shadow: 0em 0.1875em 0.8125em 0em rgba(194,194,194,1);
    -moz-box-shadow: 0em 0.1875em 0.8125em 0em rgba(194,194,194,1);
    box-shadow: 0em 0.1875em 0.8125em 0em rgba(194,194,194,1);
}

ul {
    float: right;
    margin-right: 25em;
    margin-top: 2.5em;
}

ul li {
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0em 1.25em;
}

.menu-link {
    text-decoration: none;
    color: white;
    font-size: 1.125em;
}

.boton-contacto {
    background-color: white;
    color: #68317F;
    padding: 0.5em 1.5625em;
    border-radius: 1.25em;
    font-weight: bold;

}

/*⚝。•‧-PRESENTACION-‧•。⚝*/

.contenedor-gral {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 50em;
    margin: 6.25em auto;
    background-color: white;
    /*border: 1px solid black;*/
}

.contenedor-gral div {
    
    min-width: 35em;
    max-width: 35em;
    height: 31.25em;
    /*border: 1px solid black;*/
    padding: 5em auto;
    display: flex;
    flex-direction: column;
}


.contenedor-gral div img {
    /*border: 1px solid black;*/
    width: 100%;

}

.div-img {
    justify-content: center;
    align-items: center;
}

.hola-intro {
    font-size: 3.125em;
    line-height: 5px;
    margin-top: 2.5em;
}

.nombre-intro {
    color: #B3018A;
    font-family:  'Fredoka One', cursive;
    font-size: 4.375em;
    line-height: 1px;
}

.boton-intro {
    width: 10em;
    height: 2em;
    margin: 1em 0em;
    padding-top: 0.8em; 
    background-color: #68317F;
    color: white;
    border-radius: 1.5em;
    text-decoration: none;
    text-align: center;
}

.descripcion-intro {
  font-size: 1.3em;
}

/*⚝。•‧-CONOCIMIENTOS / PROYECTOS-‧•。⚝*/

.conocimientos {
    background-color: #f2f1f9;
}

.conocimientos p {
    margin: 3em auto;
}

.conocimientos .titulo-seccion {
    padding-top: 3em;

}

.titulo-seccion {
    font-size: 2.5em;
    color: #68317F;
    text-align: center;
    font-weight: bold;
    font-family: 'Candal', sans-serif;
}

.descripcion-seccion {
    text-align: center;
    margin: 0.625em 40%;
}

.contenedor-div {
    width: 50.625em;
    display: flex;
    flex-wrap: wrap;
    margin: 0em auto;
    justify-content: center;
    padding-bottom: 8.5em;
}

.contenedor-div div {
    width: 14.375em;
    height: 12.5em;
    background-color: white;
    border: 0.0625em solid #B3018A;
    border-radius: 0.3125em;
    margin: 0.625em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

i {
    font-size: 5em;
    margin-top: 0.3em;
}

h3 {
    text-align: center;
}

.proyectos {
    background-color: white;
}

.proyectos .titulo-seccion {
    padding-top: 2em;
}

.proyectos p {
    width: 31.25em;
    text-align: center;
    margin: 1em auto;
}

.proyectos .contenedor-div{
  width: 65.5em;
  margin: 5em auto;
  align-items: flex-start;
  justify-content: space-between;
}

.contenedor-div .div-proyecto {
    width: 20em;
    height: 20em;
    margin-top: 1.25em;
}

.div-proyecto img {
    width: 18em;
}


/*⚝。•‧-CITA-‧•。⚝*/

.quote {
    background-color: #68317F;
    color: white;
    text-align: center;
    padding: 2em 0em;
}

.quote > div {
    width: 31.25em;
    margin: 0.5em auto;
}

.quote i {
    font-size: 5em;
    margin-top: 0.8em;
}

.quote p {
    font-size: 1.3em;
    margin: 2.5em auto;
}

.quote p:last-child {
    font-size: 1.5em;
    font-weight: bold;
}

/*⚝。•‧-CONTACTO-‧•。⚝*/

.contenedor-gral-contacto {
    background-color: #f2f1f9;
    margin: 0.06em auto;
    padding: 12em 0em 6em 0em;
    display: flex;
    width: 100%;
    /*border: 1px solid black;*/
}

.contenedor-contacto {
    border: 1px solid #B3018A;
    border-radius: 20px;
    width: 60%;
    background-color: white;
    display: flex;
    margin: 1em auto;
}

.div-contacto {
    width: 31em;
    padding: 1em 3em;
    margin: 1em 0.5em 10em 0.5em;
    /*border: 1px solid black;*/
    
}
.div-contacto h2 {
    text-align: left;
}

.div-contacto p {
    margin-bottom: 2em;
}

.div-contacto div {
    display: flex;
    align-items: center;
    margin: 1em;
}

.fab, .fas {
    font-size: 1.3em;
    margin: 0.5em 0.8em;
    color: #68317F;
}

.div-contacto a {
    color: #68317F;
    text-decoration: none;
    font-size: 1.1em;
}

/*⚝。•‧-FOOTER-‧•。⚝*/

footer {
    background-color: #68317F;
    color: white;
    height: 300px;
    width: 100%;

}

footer .fab, footer .fas {
    color: white;
    margin: 10px auto;
    padding: 5px 20px;
}

footer>p {
    text-align: center;
}

footer>ul {
    margin: 0px auto;
    float: none;
    padding-top: 80px;
    text-align: center;
}



footer>div {
    height: 50px;
    margin: 30px auto;
    text-align: center;
}





