

/*⚝。•‧-GENERAL-‧•。⚝*/


body {
    font-family: 'Karla', sans-serif;
    margin: 0em;
    padding: 0em;
}


/*⚝。•‧-NAV BAR-‧•。⚝*/

.contenedor-nav {
    text-align: right;
    margin: auto;
    width: 37.5em;
    padding-left: 20em;
}

nav {
    width: 100%;
    height: 6.25em;
    background-color: #68317F;
    position: fixed;
    top: 0em;
    -webkit-box-shadow: 0em 0.1875em 0.8125em 0em rgba(194,194,194,1);
    -moz-box-shadow: 0em 0.1875em 0.8125em 0em rgba(194,194,194,1);
    box-shadow: 0em 0.1875em 0.8125em 0em rgb(194, 194, 194);
}

.menu-nav {
    margin-top: 2.5em;
    min-width: 40.625em;
}

ul li {
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0em 1.25em;
}

.menu-link {
    text-decoration: none;
    color: white;
    font-size: 1.125em;
    padding: 0.5em 0.5em;
}

.menu-link:hover {
    text-shadow: 0em 0em 0.3125em #f2f1f9;
}

.menu-link:focus {
    border: 0.0625em solid #f2f1f9;
    border-radius: 1.25em;
    padding: 0.5em 0.4375em;
}

.boton-contacto:hover {
    box-shadow: 0em 0em 0.375em 0.0625em #f2f1f9;
    color: #B3018A;
}

.boton-contacto:focus {
    border: 0.0625em solid #f2f1f9;
    border-radius: 1.25em;
    padding: 0.5em 1.5em;
}

.boton-contacto {
    background-color: white;
    color: #68317F;
    padding: 0.5em 1.5625em;
    border-radius: 1.25em;
    font-weight: bold;
}

@media (max-width: 1100px) {
    nav {
        display: none;
    }

    .contenedor-intro {
        flex-direction: column;
        height: 60em;
        justify-content: center;
        align-items: center;
    }

    .div-img {
        margin: 100px auto;
    }
}

/*⚝。•‧-PRESENTACION-‧•。⚝*/


.contenedor-gral {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50em;
    margin: 6.25em auto;
    background-color: white;
    width: 100%;   
}

.contenedor-intro {
    height: 31.25em;
    margin: auto;
    display: flex;
}

.div-hola {
    width: 35em;
    height: 31em;
    padding-left: 4em;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.div-img {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 35em;
}

.div-img img {
    width: 100%;
}

.hola-intro {
    font-size: 3.125em;
    line-height: 0.3125em;
    margin-top: 2.5em;
}

.nombre-intro {
    color: #B3018A;
    font-family:  'Fredoka One', cursive;
    font-size: 4.375em;
    line-height: 0.0625em;
    width: 100%;
}

.boton-intro {
    width: 10em;
    height: 2em;
    margin: 1em 0em;
    padding-top: 0.8em; 
    background-color: #68317F;
    color: white;
    border-radius: 1.5em;
    text-decoration: none;
    text-align: center;
}

.boton-intro:hover {
    background-color: #B3018A;
}

.boton-intro:focus {
    box-shadow: 0.0625em 0.0625em 0.1875em 0.125em #ccc;
    background-color: #68317F;
}

.descripcion-intro {
  font-size: 1.3em;
  width: 25em;
}


/*⚝。•‧-CONOCIMIENTOS / PROYECTOS-‧•。⚝*/


.conocimientos {
    background-color: #f2f1f9;
    width: 100%;
}

.conocimientos .titulo-seccion {
    padding-top: 3em;
}

.titulo-seccion {
    font-size: 2.5em;
    color: #68317F;
    text-align: center;
    font-weight: bold;
    font-family: 'Candal', sans-serif;
}

.descripcion-seccion {
    text-align: center;
    margin: 2em auto 4em auto;
    width: 31.25em;
}

.contenedor-div {
    width: 50.625em;
    display: flex;
    flex-wrap: wrap;
    margin: 0em auto;
    justify-content: center;
}

.conocimientos .contenedor-div {
    padding-bottom: 9em;
}

.div-cuadro {
    width: 14.375em;
    height: 12.5em;
    background-color: white;
    border: 0.0625em solid #B3018A;
    border-radius: 0.3125em;
    margin: 0.625em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div-cuadro:hover {
    box-shadow: 0em 0em 0.375em 0.0625em #B3018A;
    color: #B3018A;
} 

.div-cuadro:active {
    box-shadow: 0em 0em 0.375em 0.0625em #68317F;
    color: #B3018A;
} 

i {
    font-size: 5em;
    margin-top: 0.3em;
}

h3 {
    text-align: center;
}

.proyectos {
    background-color: white;
    width: 100%;
}

.proyectos .titulo-seccion {
    padding-top: 2em;
}

.proyectos .contenedor-div{
  width: 65.5em;
  margin: 5em auto;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 4em;
}

.contenedor-div .div-proyecto {
    width: 20em;
    height: 20em;
    margin-top: 1.25em;
}

.div-proyecto a {
    text-decoration: none;
    color: #68317F;
}

.div-proyecto a:focus {
    color: #B3018A;
}

.div-proyecto img {
    width: 18em;
}


/*⚝。•‧-CITA-‧•。⚝*/


.quote {
    background-color: #68317F;
    color: white;
    text-align: center;
    padding: 2em 0em;
}

.quote > div {
    width: 31.25em;
    margin: 0.5em auto;
}

.quote .fas {
    font-size: 5em;
    margin-top: 0.8em;
    color: white;
}

.quote p {
    font-size: 1.3em;
    margin: 2.5em 0em;
}

.quote p:last-child {
    font-size: 1.5em;
    font-weight: bold;
}


/*⚝。•‧-CONTACTO-‧•。⚝*/


.contenedor-gral-contacto {
    background-color: #f2f1f9;
    margin: 0.06em auto;
    padding: 8em 0em 8em 0em;
    display: flex;
    width: 100%;
}

.contenedor-contacto {
    border: 0.0625em solid #68317F;
    border-radius: 1.25em;
    width: 60%;
    min-width: 62.5em;
    max-width: 75em;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 1em auto;   
}

.div-contacto {
    width: 32em;
    padding-left: 2em;
}
    
.div-contacto h2 {
    text-align: left;
    margin-top: 2em;
    padding-left: 0.3em;
}

.div-contacto p {
    margin-bottom: 2em;
    max-width: 25em;
    padding: 2em 1em 1em 1em;
}

.icono-contacto {
    font-size: 1.3em;
    margin: 0.2em 0em 0em 1.5em;
    color: white;
    background-color: #68317F;
    padding: 0.5em;
    border-radius: 3.125em;
    border: 0.125em solid white;
}

.fa-linkedin-in {
    padding: 0.5em 0.5625em;
}

.div-contacto a {
    color: #68317F;
    text-decoration: none;
    font-size: 1.1em;
    margin-left: 1em;
}

.link-contacto {
    margin: 0.5em 0em;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link-contacto:hover a {
    color: #B3018A;
}

.link-contacto:hover i {
    background-color: #B3018A;
    color: white;
}


/*⚝。•‧-FORMULARIO-‧•。⚝*/


form {
    box-sizing: border-box;
}

input[type=submit] {
    font-family: 'Karla', sans-serif;
    font-size: 1em;
    border-radius: 0.9375em;
    background-color:#68317F;
    border-style: none;
    color: white;
    padding: 0.5em 0.3125em;
    width: 6.25em;
    display: block;
    margin: 0em 0em 5em 1.25em;
}

input[type=submit]:hover {
    background-color:#B3018A;
}

input[type=submit]:focus {
    background-color: #68317F;
    box-shadow: 0.0625em 0.0625em 0.1875em 0.125em #ccc;
}

input[type=mail] {
    width: 29.3em;
    margin-left: 0.625em;
    padding: 0.8em;
    border-style: none;
    background-color: #f2f1f9;
    border-radius: 0.3125em;
}

input[type=mail]:focus {
    box-shadow: 0em 0em 0.3125em 0.0625em #B3018A;
    outline: 0.0625em #B3018A;
}

input[type=text] {
    margin-left: 0.625em;
    padding: 0.8em 0.6em;
    border-style: none;
    background-color: #f2f1f9;
    border-radius: 0.3125em;
}

input[type=text]:focus {
    box-shadow: 0em 0em 0.3125em 0.0625em #B3018A;
    outline: 0.0625em #B3018A;
}

label {
    display: block;
    padding-bottom: 0.625em;
}

textarea {
    width: 29.3em;
    height: 11.25rem;
    margin-left: 0.625em;
    padding: 0.625em;
    border-style: none;
    max-width: 29.3em;
    min-width: 29.3em;
    max-height: 12.5rem;
    min-height: 6.25rem;
    background-color: #f2f1f9;
    border-radius: 0.3125em;
}

textarea:focus {
    box-shadow: 0em 0em 0.3125em 0.0625em #B3018A;
    outline: 0.0625em #B3018A;
}

.datos-form {
    width: 12.5em;
    height: 5em;
    padding: 0.625em;
    display: inline-block;
}

.mail-form {
    width: 25.25rem;
    height: 5em;
    padding: 0.625em;
    margin-top: 0.25em;
}

.mensaje-form {
    width: 25.25rem;
    height: 15.625em;
    padding: 0.625em;
    margin-top: 0.25em;
}


/*⚝。•‧-FOOTER-‧•。⚝*/


footer {
    background-color: #68317F;
    color: white;
    height: 18.75em;
    width: 100%;
}

footer .fab, footer .fas {
    color: white;
    margin: 0.625rem 0.75rem;
    padding: 0.625rem;
    border-radius: 1.875em;
    font-size: 1.5em;
    text-align: center;
    border: 0.0625em solid #68317F;
}

footer i:hover {
    border: 0.0625em solid white;
    text-shadow: 0em 0em 0.3125em #f2f1f9;
}

footer i:active {
    background-color: white;
    color: #68317F;
}

footer .fa-linkedin-in, footer .fa-instagram {
    padding: 0.625em 0.6875em;
}

footer>p {
    text-align: center;
    padding-bottom: 3.125em;
    text-shadow: 0em 0em 0.3125em #f2f1f9;
}

footer>ul {
    margin: 0em auto;
    float: none;
    padding-top: 5rem;
    text-align: center;
}

.redes-footer {
    height: 4rem;
    margin: 1.875em 0em 1.875em 1.25em;
    text-align: center;
}

.menu-footer a {
    text-decoration: none;
    color: white;
}

.menu-footer a:hover {
    text-shadow: 0em 0em 0.3125em #f2f1f9;
}




