/*⚝。•‧-GENERAL-‧•。⚝*/
body {
    font-family: 'Karla', sans-serif;
    margin: 0em;
    padding: 0em;
}

/*⚝。•‧-NAV BAR-‧•。⚝*/
nav {
    width: 100%;
    height: 6.25em;
    background-color: #68317F;
    position: fixed;
    top: 0px;
    -webkit-box-shadow: 0em 0.1875em 0.8125em 0em rgba(194,194,194,1);
    -moz-box-shadow: 0em 0.1875em 0.8125em 0em rgba(194,194,194,1);
    box-shadow: 0em 0.1875em 0.8125em 0em rgb(194, 194, 194);
}

ul {
    float: right;
    margin-right: 25em;
    margin-top: 2.5em;
}

ul li {
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0em 1.25em;
}

.menu-link {
    text-decoration: none;
    color: white;
    font-size: 1.125em;
    padding: 0.5em 0.5em;
}

.menu-link:hover {
    text-shadow: 0px 0px 5px #f2f1f9;
}

.menu-link:focus {
    border: 1px solid #f2f1f9;
    border-radius: 1.25em;
    padding: 0.5em 0.4375em;

}

.boton-contacto:hover {
    box-shadow: 0px 0px 6px 1px #f2f1f9;
    color: #B3018A;
}

.boton-contacto:focus {
    border: 1px solid #f2f1f9;
    border-radius: 1.25em;
    padding: 0.5em 1.5em;

}

.boton-contacto {
    background-color: white;
    color: #68317F;
    padding: 0.5em 1.5625em;
    border-radius: 1.25em;
    font-weight: bold;

}

/*⚝。•‧-PRESENTACION-‧•。⚝*/

.contenedor-gral {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 50em;
    margin: 6.25em auto;
    background-color: white;
    /*border: 1px solid black;*/
}

.contenedor-gral div {
    
    min-width: 35em;
    max-width: 35em;
    height: 31.25em;
    /*border: 1px solid black;*/
    padding: 5em auto;
    display: flex;
    flex-direction: column;
}


.contenedor-gral div img {
    /*border: 1px solid black;*/
    width: 100%;

}

.div-img {
    justify-content: center;
    align-items: center;
}

.hola-intro {
    font-size: 3.125em;
    line-height: 5px;
    margin-top: 2.5em;
}

.nombre-intro {
    color: #B3018A;
    font-family:  'Fredoka One', cursive;
    font-size: 4.375em;
    line-height: 1px;
}

.boton-intro {
    width: 10em;
    height: 2em;
    margin: 1em 0em;
    padding-top: 0.8em; 
    background-color: #68317F;
    color: white;
    border-radius: 1.5em;
    text-decoration: none;
    text-align: center;
}

.boton-intro:hover {
    background-color: #B3018A;
}

.boton-intro:focus {
    text-shadow: 0px 0px 5px #f2f1f9;
    font-weight: bold;
}

.descripcion-intro {
  font-size: 1.3em;
}

/*⚝。•‧-CONOCIMIENTOS / PROYECTOS-‧•。⚝*/

.conocimientos {
    background-color: #f2f1f9;
}

.conocimientos p {
    margin: 3em auto;
}

.conocimientos .titulo-seccion {
    padding-top: 3em;

}

.titulo-seccion {
    font-size: 2.5em;
    color: #68317F;
    text-align: center;
    font-weight: bold;
    font-family: 'Candal', sans-serif;
}

.descripcion-seccion {
    text-align: center;
    margin: 0.625em 40%;
}

.contenedor-div {
    width: 50.625em;
    display: flex;
    flex-wrap: wrap;
    margin: 0em auto;
    justify-content: center;
    padding-bottom: 8.5em;
}

.div-cuadro {
    width: 14.375em;
    height: 12.5em;
    background-color: white;
    border: 0.0625em solid #B3018A;
    border-radius: 0.3125em;
    margin: 0.625em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div-cuadro:hover {
    box-shadow: 0px 0px 6px 1px #B3018A;
    color: #B3018A;
} 

.div-cuadro:active {
    box-shadow: 0px 0px 6px 1px #68317F;
    color: #B3018A;
} 

i {
    font-size: 5em;
    margin-top: 0.3em;
}

h3 {
    text-align: center;
}

.proyectos {
    background-color: white;
}

.proyectos .titulo-seccion {
    padding-top: 4em;
}

.proyectos p {
    width: 31.25em;
    text-align: center;
    margin: 1em auto;
}

.proyectos .contenedor-div{
  width: 65.5em;
  margin: 5em auto;
  align-items: flex-start;
  justify-content: space-between;
}

.contenedor-div .div-proyecto {
    width: 20em;
    height: 20em;
    margin-top: 1.25em;
}

.div-proyecto a {
    text-decoration: none;
}

.div-proyecto a:focus {
    color: #B3018A;
}

.div-proyecto img {
    width: 18em;
}


/*⚝。•‧-CITA-‧•。⚝*/

.quote {
    background-color: #68317F;
    color: white;
    text-align: center;
    padding: 2em 0em;
}

.quote > div {
    width: 31.25em;
    margin: 0.5em auto;
}

.quote .fas {
    font-size: 5em;
    margin-top: 0.8em;
    color: white;
}

.quote p {
    font-size: 1.3em;
    margin: 2.5em 0em;
}

.quote p:last-child {
    font-size: 1.5em;
    font-weight: bold;
}

/*⚝。•‧-CONTACTO-‧•。⚝*/

.contenedor-gral-contacto {
    background-color: #f2f1f9;
    margin: 0.06em auto;
    padding: 12em 0em 6em 0em;
    display: flex;
    width: 100%;
    /*border: 1px solid black;*/
}

.contenedor-contacto {
    border: 1px solid #68317F;
    border-radius: 20px;
    width: 60%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 1em auto;
    
}

.div-contacto {
    width: 40em;
    padding-left: 2em;
}
    
.div-contacto h2 {
    text-align: left;
    margin-top: 2em;
    padding-left: 0.3em;
}

.div-contacto p {
    margin-bottom: 2em;
    max-width: 25em;
    padding: 2em 1em 1em 1em;
}

.icono-contacto {
    font-size: 1.3em;
    margin: 0.2em 0em 0em 1.5em;
    color: white;
    background-color: #68317F;
    padding: 0.5em;
    border-radius: 50px;
    border: 2px solid white;
}

.fa-linkedin-in {
    padding: 0.5em 0.5625em;
}

.div-contacto a {
    color: #68317F;
    text-decoration: none;
    font-size: 1.1em;
    margin-left: 1em;
    /*border: 1px solid black;*/
}

.link-contacto {
    margin: 0.5em 0em;
    /*border: 1px solid black;*/
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link-contacto:hover a {
    color: #B3018A;

}

.link-contacto:hover i {
    background-color: #B3018A;
    color: white;
}
/*⚝。•‧-FORMULARIO-‧•。⚝*/

form {
    box-sizing: border-box;
}

input[type=submit] {
    font-family: 'Karla', sans-serif;
    font-size: 1em;
    border-radius: 15px;
    background-color:#68317F;
    border-style: none;
    color: white;
    padding: 8px 5px;
    width: 100px;
    display: block;
    margin: 0px 0px 80px 20px;
}

input[type=submit]:hover {
    background-color:#B3018A;
}

input[type=submit]:focus {
    background-color: #68317F;
    box-shadow: 1px 1px 3px 2px #ccc;
}

input[type=mail] {
    width: 390px;
    margin-left: 10px;
    padding: 10px;
    border-style: none;
    background-color: #f2f1f9;
    border-radius: 5px 5px 5px 5px;
}

input[type=mail]:focus {
    box-shadow: 0px 0px 5px 1px #B3018A;
    outline: 1px #B3018A;
}

input[type=text] {
    margin-left: 10px;
    padding: 10px;
    border-style: none;
    background-color: #f2f1f9;
    border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
    box-shadow: 0px 0px 5px 1px #B3018A;
    outline: 1px #B3018A;
}

label {
    display: block;
    padding-bottom: 10px;
}

textarea {
    width: 390px;
    height: 180px;
    margin-left: 10px;
    padding: 10px;
    border-style: none;
    max-width: 390px;
    min-width: 390px;
    max-height: 200px;
    min-height: 100px;
    background-color: #f2f1f9;
    border-radius: 5px 5px 5px 5px;
}

textarea:focus {
    box-shadow: 0px 0px 5px 1px #B3018A;
    outline: 1px #B3018A;
}

.datos-form {
    width: 200px;
    height: 80px;
    padding: 10px;
    display: inline-block;
}

.mail-form {
    width: 404px;
    height: 80px;
    padding: 10px;
    margin-top: 4px;
}

.mensaje-form {
    width: 404px;
    height: 250px;
    padding: 10px;
    margin-top: 4px;
}


/*⚝。•‧-FOOTER-‧•。⚝*/

footer {
    background-color: #68317F;
    color: white;
    height: 300px;
    width: 100%;
}

footer .fab, footer .fas {
    color: white;
    margin: 10px 12px;
    padding: 10px 10px;
    border-radius: 30px;
    font-size: 1.5em;
    text-align: center;
    border: 1px solid #68317F;
}

footer i:hover {
    border: 1px solid white;
    text-shadow: 0px 0px 5px #f2f1f9;
}

footer i:active {
    background-color: white;
    color: #68317F;
}

footer .fa-linkedin-in, footer .fa-instagram {
    padding: 10px 11px;
}

footer>p {
    text-align: center;
    padding-bottom: 50px;
    text-shadow: 0px 0px 5px #f2f1f9;
}

footer>ul {
    margin: 0px auto;
    float: none;
    padding-top: 80px;
    text-align: center;
}

.redes-footer {
    height: 50px;
    margin: 30px 0px 30px 20px;
    text-align: center;
}

.menu-footer a {
    text-decoration: none;
    color: white;
}

.menu-footer a:hover {
    text-shadow: 0px 0px 5px #f2f1f9;
}




